@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Movie Goers to Movie Registration!</h1>
    
</div>

<h2 style="text-align:center">    
    Click the "Registration" tab above to register your film
</h2>